PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=boruta_example_dev
PGPORT=5432
PGHOST=db
MIX_ENV=dev

TOKEN_ENDPOINT=http://web:4000/oauth/token
REDIRECT_URI=http://localhost:5000/callback
CLIENT_ID=a11249a8-221e-4f5a-a9e3-89dd688fdcd2
CLIENT_SECRET=
CODE_VERIFIER=